# Binaries and build artifacts
bin/
server/api
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test related
*.test
*.out
cover.out

# Go dependencies (if vendoring is used)
vendor/

# Environment configurations
.env
.env.*
!.env.example
server/.env
server/.env.*
!server/.env.example

# IDE and Editor configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~

# OS specific files
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

# Temporary directories
tmp/
temp/

# External cloned resources
resources/

.data/
